.menu_div ul
{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
/*	color:#1e1f1f;*/
	list-style:none;
	text-indent:15px;
    
}
.menu_div ul li
{
        
	background: url('../images/side_tab_in.png');
	line-height:35px;
        border-bottom:1px solid #b2b2b2;
	text-decoration:none;
	color:#fff;
	display:block;
}
.menu_div ul li:hover
{
	background: url('../images/side_tab_ac.png');
        color:#1e1f1f;
        cursor: pointer;
}
.menu_div ul li#active
{
	background: url('../images/side_tab_ac.png');
        color:#1e1f1f;
}
