div.menu2
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    
    background-color: #757d7f;
    
    font-size:0;
}

div.menu2 a
{
    display: inline-block;
    padding: 0 20px;
    background-color: #757d7f;
    color:White;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 32px;
}

div.menu2 a:hover, div.menu2 a.current
{
    background-position:0 -60px;
    background-color: #e8e8e8;
    color:#434343;

}

div.menu2 a.dummy
{
    width:2px;
    padding:0 0;
}



