/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/indexBackGround.png);
	background-repeat:no-repeat;
	background-position: center top;
	background-color: #012435;
	
}
