ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
	width: 770px;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}
ul.boxy li {
	cursor:move;
	padding: 4px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	width:140px;
	height:100px;
	float:left;
	margin:2px;
}
.clickable a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}
.clickable li:hover {
	background-color: #f6f6f6;
}

#phoneticlong {
	margin-bottom: 1em;
}
#phoneticlong li, #buttons li {
	margin-bottom: 0px;
	margin-top: 4px;
}
