<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> <dict>
<key>App identifier</key>
<string>5048</string>
<key>Title</key>
<string>sfasdf</string>
<key>Home image count</key>
<integer>5</integer>
<key>Modules</key>
<array>
<string>FanWall</string>
<string>Discography</string>
<string>BuyStuffs</string>
<string>Biography</string>
<string>About</string>
<string>UserAccounts</string>
</array>
<key>Mobclix application identifier</key>
<string>mobclixId</string>
<key>Background color</key>
<string>blackColor</string>
<key>Foreground color</key>
<string>whiteColor</string>
<key>NavBar tint color</key>
<string>blackColor</string>
<key>PhizuuConnect URL</key>
<string>http://connect.phizuu.com/client</string>
<key>PushEnabled</key>
<false/>
<key>AdsEnabled</key>
<false/>
<key>FaceBookAPIKey</key>
<string>2f2609e2c7b262e41dff261736748fb9</string>
<key>FaceBookAPISecret</key>
<string>4d4a7d398663bf166488071d46e71642</string>
<key>FaceBookPostImageURL</key>
<string>http://phizuu.com/images/facebook_post_images/5048/5048.png</string>
<key>App Email</key>
<string>info@phizuu.com</string>
<key>Twitter</key>
<dict>
<key>Key</key>
<string>gnVBYVkfzLgWVokJyKxgQ</string>
<key>Secret</key>
<string>5KSvcIfvlXjfGJaqBPb9nf5s4thu7r8MKWc7cZOHIIY</string>
</dict>
</dict>
</plist>